@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap);

* {
    --main-color: #0ef;
    --transition: 0.4s
}

body {
    font-family: Cairo, sans-serif;
    color: #777;
    line-height: 1.7;
    direction: rtl
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #222
}

section {
    padding-top: 120px;
    padding-bottom: 120px
}

a {
    color: #222;
    text-decoration: none;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s
}

.carousel-inner .carousel-item h3,
.contact h1,
.footer .cloor,
.footer .desgin,
.footer .end-footer .icon,
.footer .footer-link .footer-list li a:hover,
.footer .gmail,
.footer .phone,
.footer h1,
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .navbar-brand:hover,
a:hover {
    color: var(--main-color)
}

img {
    width: 100%;
}

::-webkit-scrollbar {
    width: 20px
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px inset #333
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2196f3
}

.btn-brand,
.carousel-indicators [data-bs-target],
.dropdown-menu {
    background-color: var(--main-color)
}

.navbar .navbar-nav .nav-item {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s
}

.section-2 .box::after,
.section-2 .box::before {
    content: "";
    width: 50%;
    height: 100%;
    background: var(--main-color);
    transition: .4s;
    opacity: .3;
    position: absolute
}

.dropdown-menu a {
    color: #222
}

.dropdown-menu a:hover {
    color: #222;
    background-color: #fff
}

.landing .text img,
.navbar .navbar-brand img {
    width: 100px
}

.btn {
    padding: 14px 30px
}

.btn-brand {
    color: #333;
    font-size: 20px
}

.carousel-inner {
    height: calc(100vh - 76px)
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: var(--main-color);
    color: #00f
}

.carousel-inner .carousel-item p {
    font-size: 18px
}

.landing {
    height: calc(100vh-150px)
}

.landing .intero {
    border-right: 7px solid var(--main-color)
}

.landing .image img {
    height: 430px
}

.section-2 .box {
    position: relative;
    overflow: hidden
}

.section-2 .box::before {
    left: -100%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s
}

.section-2 .box::after {
    right: -100%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s
}

.section-2 .box:hover::after {
    right: 0
}

.section-2 .box:hover::before {
    left: 0
}

.section-2 .box .text {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 10px
}

.contact form {
    box-shadow: 0 0 5px var(--main-color)
}

.boxer img {
    height: 250px;
}
.footer .footer-link .footer-list li a {
    color: #000;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s
}